<link rel="stylesheet" href="/css/header.css">


<nav>
    <ul>
        <li class="menu"><a href="/"> Tectovia </a></li>
        <li class="hideOn"><a  href="/"> Home </a></li>  
        <li class="hideOn"><a href="/contact"> Contact </a></li>  
    
        <div class="dropdown">
           <button class="dropbtn"> Services </button>
           <div class="dropdown-content">
             <a href="/school_register"> School </a>
             <a href="/college_register"> College </a> 
             <a href="/public_register"> Public </a>
           </div>
         </div> 
    
        <li class="hideOn"><a href="/brochure"> About US </a></li> 
        <li class="hideOn"><a href="/brochure"> Sign UP</a></li> 
    </ul>
</nav>
