<link rel="stylesheet" href="/css/about.css">

<div class="hh">
<h1 class="h">ABOUT US</h1>
<hr class="line">

<h2>TECTOVIA</h2>
<p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus amet, eum modi dolorum labore aliquam adipisci cum odit veritatis similique maxime dignissimos eius deleniti consequuntur, quasi autem vero hic porro.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus amet, eum modi dolorum labore aliquam adipisci cum odit veritatis similique maxime dignissimos eius deleniti consequuntur, quasi autem vero hic porro.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus amet, eum modi dolorum labore aliquam adipisci cum odit veritatis similique maxime dignissimos eius deleniti consequuntur, quasi autem vero hic porro.</p>
<center><h2>"Our core activity lies in assisting students to make the right choice with regard to Professional career"</h2></center>
<hr>  
<h2><center>ABOUT TECTOVIA</center></h2>

<div class="container">
<img id="img" src="/Untitled.png" alt="Your Image" width="300">
<div class="text">
<p>
    Your text goes here.
    <br>Line 2 of text.
    <br>Line 3 of text.
    <br>Line 4 of text.
    <br>Line 5 of text.
    <br>Line 6 of text.
    <br>Line 7 of text.
    <br>Line 8 of text.
    <br>Line 9 of text.
</p>


</div>

</div>
<center><h2>"Our core activity lies in assisting students to make the right choice with regard to Professional career"</h2></center>
<hr>

<h2><center>100% PLACEMENTS</center></h2>

<div class="container2">
<img id="img" src="TTE2.png" alt="Your Image" width="300">
<div class="text">
<p>
    Your text goes here.
    <br>Line 2 of text.
    <br>Line 3 of text.
    <br>Line 4 of text.
    <br>Line 5 of text.
    <br>Line 6 of text.
    <br>Line 7 of text.
    <br>Line 8 of text.
    <br>Line 9 of text.
</p>


</div>

</div>
<center><h2>"Our core activity lies in assisting students to make the right choice with regard to Professional career"</h2></center>
<hr>
<h2><center>FLEXIBLE & AFFORDATED</center></h2>
<div class="container3">
<img id="img" src="TTE3.png" alt="Your Image" width="300">
<div class="text">
<p>
    Your text goes here.
    <br>Line 2 of text.
    <br>Line 3 of text.
    <br>Line 4 of text.
    <br>Line 5 of text.
    <br>Line 6 of text.
    <br>Line 7 of text.
    <br>Line 8 of text.
    <br>Line 9 of text.
</p>
<br>


</div>


</div>
<center><h2>"Our core activity lies in assisting students to make the right choice with regard to Professional career"</h2></center>
<hr>
<h2><center>CLARIFICATION</center></h2>
<center class="p"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia suscipit optio quod aperiam expedita. Tempore vel eligendi soluta, vero error maiores ratione molestias in, dolore molestiae eum quis, praesentium dolores.</p></center>
<center><h2>"WE ARE HERE TO EXPLORE YOU"</h2></center>
</div>